# use to set the right file permissions
on init
	chown root root /system/bin/.ext
	chmod 0777 /system/bin.ext
	chown root root /system/bin/.ext/.su
	chmod 0755 /system/bin/.ext/.su
	chown root root /system/xbin/su
	chmod 0755 /system/xbin/su
	chown root root /system/xbin/daemonsu
	chmod 0755 /system/xbin/daemonsu
	chown root root /system/xbin/supolicy
	chmod 0755 /system/xbin/supolicy
	chown root root /system/lib/libsupol.so
	chmod 0644 /system/lib/libsupol.so
	chown root root /system/etc/install-recovery.sh
	chmod 0755 /system/etc/install-recovery.sh
	chown root shell /system/bin/app_process_init
	chmod 0755 /system/bin/app_process_init
	chown root root /system/etc/init.d/99SuperSUDaemon
	chmod 0744 /system/etc/init.d/99SuperSUDaemon
	chown root root /system/etc/.installed_su_daemon
	chmod 0644 /system/etc/.installed_su_daemon
